{% load static %}
{% include './include/header.html' %}

    <h1 class="account_title">H.kar Service</h1>
    <h4>Connexion</h4>
    <div class="formulaire">
        {% for message in messages  %}
            <div class="error">{{ message }}</div>
        {% endfor %}
        <div class="visibility-password login">
            <form method="post" class="form">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.GET.next }}">
                {{ form }}
                <input type="submit" value="Se Connectez" class="input1">
                <!--<input type="button" value="Afficher" style="border-radius:15px; font-size:12px;margin-left:6px" id="input1" class="input1">-->
            </form>
            <img id="visibility" src="{% static 'account/icone/icone_hide.png' %}" alt="">
        </div>
        <div class="register">
            <p>Pas de compte?</p>
            <a href="{% url 'account:register' %}">Inscrivez-vous!!</a>
        </div>
        <a style="margin-top: 8px" href="{% url 'account:reset_password' %}">Mots de passe oublié?</a>
    </div>

{% include './include/end.html' %}