<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email</title>
</head>
<body style="font-family: Arial, Helvetica, sans-serif;">
    <h1 style="width: 100%; height: fit-content; padding-top: 10px; padding-bottom: 5px; text-align: center; color: #fff; background-color: rgba(0, 0, 0, 0.9);">
        Hkar-Service
    </h1>
    <main style="padding: 15px;">
        <h3 style="font-size: 20px; color: #000;">Bonjour {{ username }};</h3>
        <p style="width: 100%; height: fit-content; color: black; font-size: 10px;">
            Nous sommes ravis de vous accueillir sur Hkar-Service!<br><br>
            Votre inscription a bien été prise en compte,<br>
            Votre nom d'utilisateur est le suivant :<br>
            <strong>Nom d'utilisateur : {{ username }}</strong><br><br>
            Sachez toutefois qu'il est impossible de le changer.<br><br>
            Si vous avez des questions ou des préoccupations, n'hésitez pas à nous contacter :<br>
            <strong>{{ contact }}</strong><br><br>
            Pour vous connecter, veuillez visiter :<br>
            <a style="text-decoration: none; color: blueviolet;" href="https://www.hkarsevice.com/accounts/Connexion">Cliquez ici !</a><br><br>
            Merci pour votre confiance et à très bientôt sur Hkar-Service !<br><br>
            L'équipe Hkar-Service.
        </p>
    </main>
</body>
</html>