{% include './include/header.html' %}

    <h1 class="account_title">H.kar Service</h1>
    <h4>Nouveau Mots de passe</h4>
    <div class="formulaire">
        <form method="post" class="form">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Envoyer" class="input1">
            <input type="button" value="Afficher" style="border-radius:15px; font-size:12px;margin-left:6px" id="input3" class="input1">
        </form>
    </div>

{% include './include/end.html' %}