 {% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'onlineStore/style.css' %}">
    <title>H.kar-Service | Articles</title>
</head>
<body>
    <header>
        <div class="logo">H.kar-Service</div>
        <div class="menu-bar"></div>
        <div class="search-bar">
            <form method="get" action="{% url 'store:prods' %}" class="index-form"> <!-- formulaire necessaire pour recuprerez le valeur notez qu'ici nous avons le method get -->
                <input type="search" name="contain" placeholder="Recherche......">
                <button type="submit"><img src="{% static 'onlineStore/icone/search.png' %}"></button>
            </form>
    </div>
        <nav>
            <a href="{% url 'store:index' %}">Accueil</a>
            <a href="{% url 'store:panier' %}">Panier</a>
            {% if user.is_authenticated  %}
                <a href="{% url 'account:logout' %}">Déconnexion</a>
            {% else %}
                <a href="{% url 'account:login' %}">Connexion</a>
            {% endif %}                
        </nav>
    </header>

    <main>
        {% if produit_list %}
        {% for category in category_list %}
            <section class="trend-box">
                <p>{{category.name}}</p>
                <div class="trend-bar">
                    {% for produit in produit_list %}
                    {% if category.name == produit.category.name %}
                        <div class="trend-bar-div">
                            <a class="produit-img" href="{% url 'store:article' produit.slug %}"> <img src="{{ produit.image.url }}" alt=""> </a>
                            <section class="trend-info">
                                <div>
                                    <a href="{% url 'store:article' produit.slug %}">{{ produit.name }}</a>
                                    <span>{{ produit.price }} FCFA</span>    
                                </div>
                                <a class="panier-img" href="{% url 'store:ajout' produit.id %}"><img src="{% static 'onlineStore/icone/panier.png' %}" alt=""></a>
                            </section>
                        </div>
                    {% endif %}
                    {% endfor %}
                </div>  
            </section>
        {% endfor %}
        {% else %}
            <p style="min-height: 75vh;">Articles non disponibles</p>
        {% endif %}

    </main>
    <footer>
        Retrouvez-nous sur:
        <div class="external-link">
            {% for lien in liens %}
            {%if lien %}
                <p>{{lien.name}} : <a href="{{lien.url}}">{{lien.url|truncatechars:23}}</a></p>
            {% endif %}
            {% endfor %}  
        </div>
        <a href="{% url 'account:cont' %}" style="text-align: center; color: #999;width: 100%;display: block;margin-top: 5px;">À propos de nous</a>
    </footer>

<script src="{% static 'onlineStore/scripts.js' %}"></script>
</body>
</html>