{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'onlineStore/style.css' %}">
    <script src="{% static 'onlineStore/scripts.js' %}"></script>
    <title>H.kar-Service</title>
    <meta name="description" content="H.kar Service est une boutique spécialisée dans la vente de produit électronique et divers. Votre satisfaction, Notre priorité">
    <meta name="keywords" content="Boutique en ligne, Bamako Mali">
</head>
 <body>
